.container-product {
    float: left;
    width: 19%;
    margin: 1rem;
    box-shadow: 1px 1px 6px #949494;
    padding: 15px 20px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.container-product img {
    width: 100%;
}

.container-product > div {
    width: 100%;
    justify-content: center;
}

#show {
    margin-top: 15px;
    margin-left: 15px;
    color: black;
    background-color: beige;
}

.links{
    text-decoration: none;
    color: black;
}
