.container-logo img {
    width: 100%;
}

.container-logo {
    float: left; 
    width: 80px;
}


header > div {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.main-navbar {
    background: white !important; 
}

.main-navbar button {
    color: black;
}

ul.navbar-list {
    list-style: none;
    display: flex;
}

.cart-buttonNav {
    display: flex;
    max-height: 40px;
}