.counter {
    text-align: center;
    display: flex;
    align-content: space-between;
}

#addToCart {
    margin-top: 15px;
    color: black;
    background-color: beige;
}

.links {
    text-decoration: none;
    color: black;
}